# ==== ENTORNOS VIRTUALES ====
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

.package-lock.json
site-packages/

# ==== PYTHON CACHE ====
__pycache__/
*.py[cod]
*$py.class

# ==== LOGS Y BASES DE DATOS ====
*.log
*.sqlite3

# ==== DUMPS DE BASE DE DATOS ====
*.sql
*.dump
*.pg_dump
*backup*.sql
*respaldo*.sql
export.sql

# ==== DATOS / DATASETS ====
*.csv

# ==== VARIABLES DE ENTORNO ====
.env

# ==== EDITORES ====
.vscode/
.idea/
.DS_Store
*~

# ==== ARCHIVOS TEMPORALES ====
*.tmp
*.bak

*.pyc

